<section class="user-read container-fluid">
  <div class="row">
    <div class="col-12 col-md-5 mx-auto">
      {{!-- <div class="input-group mb-3">
        <input type="date" class="form-control" id="datechecker" placeholder="Recipient's username"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn" type="button" onclick="findData()">SEARCH</button>
        </div>
      </div> --}}


      <div class="row">
        <h5 class="mx-auto text-capitalize mt-3 mb-5">ALL PURCHASES <span>₹{{finalAmount}}/₹4500</span></h5>
      </div>
    </div>
  </div>
  {{#each expenseCont}}
  <div class="card-deck mb-3">
    <div class="card">
      <div class="card-header">
        <div class="row mx-auto">
          <div class="col-5 mx-auto d-flex justify-content-start dateStamp text-light">
          {{this.datestamp}}
          </div>
          <div class="col-7 mx-auto d-flex justify-content-center text-light">
           {{this.inputItem}}
           </div>
   
        </div>
      </div>

      <div class="card-body">
   
        <p class="card-text"><span class="font-weight-bold">Items:</span> {{this.inputItems}}</p>
        <p class="card-text"><span class="font-weight-bold">Amount:</span> ₹{{this.inputAmount}}</p>
        <p class="card-text"><span class="font-weight-bold">Remarks: </span>{{this.inputRemarks}}</p>
     
        {{#if this.path}}
        <img src="{{this.path}}" class="img-fluid img-responsive d-block mx-auto" alt="" srcset="">
        {{else}}
        <p class="card-text alert-warning p-2">No image uploaded</p>
        {{/if}}
      </div>
      <div class="card-footer text-uppercase">
      {{this.username}}
      </div>
    </div>
  </div>
  <script>





    function findData() {
      var datepreStamp = document.querySelectorAll('.dateStamp');
      console.log(datepreStamp);
      var dateChecker = document.getElementById('datechecker').value.toString();
      var dateCheckerInner = dateChecker.split('-');
      var dateCheckerDay = parseInt(dateCheckerInner[2]);
      var dateCheckerMonth = parseInt(dateCheckerInner[1]);
      var dateCheckerYear = parseInt(dateCheckerInner[0]);
      for (let i = 0; i < datepreStamp.length; i++) {
        var dateStampBody=document.getElementsByClassName('dateStamp')[i];
        var dateStamp = document.getElementsByClassName('dateStamp')[i].innerHTML.toString().trim();
        var dateStampInner = dateStamp.split('/');
        var dateStampDay = parseInt(dateStampInner[1]);
        var dateStampMonth = parseInt(dateStampInner[0]);
        var dateStampYear = parseInt(dateStampInner[2]);
        if(dateCheckerDay===dateStampDay && dateCheckerMonth===dateStampMonth && dateCheckerYear===dateStampYear){
          console.log("all are same")
          dateStampBody.parentElement.parentElement.parentElement.parentElement.style.display='block';
        }else{
          console.log("all are different");
          dateStampBody.parentElement.parentElement.parentElement.parentElement.style.display='none';

        }
      }



    }

  </script>
  {{/each}}


</section>